<div class="modular-row grid{{ page.header.class}}">
    <div class="size-1-2 column">
    {{ content }}
    </div>
    <div class="size-1-2 column">
    <h3>Contact us</h3>
        <p>Please get in touch if you are interested in booking The Croft House, or even if you just have a question.</p>
    {{ simple_form() }}
        <p class="small">Please ensure your email address is correct, it is the only method we have to respond to your request.</p>
    </div>
</div>
