<div class="modular-row callout">
    <video controls class="align-left">
    <source src="/user/pages/02.accommodation/_video/pan.mp4">
    Your browser does not support the <code>video</code> element.
    </video>
{{ content }}
</div>
